/* Algemene opmaak voor de hele pagina /
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/ Opmaak voor de headersectie /
#header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/ Opmaak voor de bovenste navigatiebalk /
#top-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#top-nav li {
  display: inline;
  margin: 0 10px;
}

#top-nav a {
  text-decoration: none;
  color: #fff;
}

#top-nav a:hover {
  text-decoration: underline;
}

/ Stijl voor de inhoudssecties /
#content > div {
  display: none;
}

/ Stijl voor de standaardsectie die als eerste wordt weergegeven (Home) /
#home {
  display: block;
}

/ Stijl voor de zichtbare inhoud /
#content > div:target {
  display: block;
}

/ Opmaak voor de inhoudselementen */
#content h1 {
  font-size: 24px;
  color: #333;
}

#content p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}
